	<div id="wrapper">

<!-- Intro -->
	<section id="intro" class="main">
		<h2>Administer Users and Projects Here</h2>
		<ul class="actions">
			<li><a href="/projectcreate" class="button big dark">Create a New Project</a></li>
		</ul>
		<div id="container">
      	<a href="/logout">Logout</a>
		</div>
	</section>

<!-- Project List View -->
	<section class="main items">
		<article class="item">
      		<h3>Projects</h3>
			{{#each project}}
			<li>
            Project Owner: {{this.owner}}
			Project Client: {{this.client}}
			Project Name:{{this.projectname}}
			Project Message:{{this.projectmessage}}
			Project Image: {{this.imgPath}}
        	</li>
			{{else}}
  			<p class="empty">No content</p>
    		{{/each}}
			<ul class="actions">
			<li><a href="/projectcreate" class="button dark">Create New Project</a></li>
			</ul>
		</article>

<!-- User List View -->
		<article class="item">
      		<h3>Users</h3>
			<ul>
	  		{{#each user}}
        	<li>
            <a href="/viewuser/{{this._id}}">{{ this.email }}</a>
            {{!-- <form action="/viewuser/{{this._id}}/delete" method="post"> --}}
                {{!-- <button type="submit">DELETE</button> --}}
				<a href="/edituser/{{this._id}}"><i class="material-icons">edit</i></a>
				 <a href="/edituser/{{this._id}}/delete"><i class="material-icons">delete</i></a>
            {{!-- </form> --}}
        	</li>
			{{else}}
  			<p class="empty">No content</p>
    		{{/each}}
			</ul>

			<ul class="actions">
			<li><a href="/createuser" class="button dark">Create New User</a></li>
			</ul>
		</article>
</section>

</div>


{{!-- <select>
	{{#each user}}
  	<option value="{{ this.email }}">{{ this.email }}</option>
	      {{/each}}
</select> --}}